.footer {
  padding: 0;
}

.footer__content {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  margin: 42px 0 25px 0;
}
@media screen and (max-width: 544px) {
  .footer__copyright {
    height: 14px;
  }
}
