.header {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.header__logo {
  width: 255px;
  height: 69px;
  margin: 0 auto 91px;
  padding-top: 34px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 254px;
    height: 66px;
    margin: 0 auto 90px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    width: 188px;
    height: 52px;
    margin: 0 auto 50px;
    padding-top: 20px;
  }
}
