.intro {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 88%;
  width: 100%;
  margin-left: 12%;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: auto;
    text-align: center;
  }
}

.intro__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #ffffff;
  margin: 0 0 40px 0;
  text-align: start;
  max-width: 830px;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    font-size: 45px;
    line-height: 1.08;
  }
}
@media screen and (max-width: 544px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}

.intro__author {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41;
  color: #ffffff;
  text-align: start;
  margin: 0 0 10px 0;
  max-width: 738px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .intro__author {
    width: 720px;
  }
}
@media screen and (max-width: 544px) {
  .intro__author {
    width: 288px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.intro__author-name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.41;
  color: #ffffff;
  max-width: 732px;
  width: 100%;
  text-align: end;
  margin: 0 0 32px 0;
}

@media screen and (max-width: 1024px) {
  .intro__author-name {
    width: 720px;
  }
}
@media screen and (max-width: 544px) {
  .intro__author-name {
    width: 288px;
  }
}

.intro__description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #ffffff;
  text-align: start;
  max-width: 722px;
  width: 100%;
  margin: 0 0 92px 0;
}

@media screen and (max-width: 1024px) {
  .intro__description {
    width: 720px;
  }
}
@media screen and (max-width: 544px) {
  .intro__description {
    width: 288px;
  }
}
