.page {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: #2a2c2f;
}

/* @media screen and (min-width: 545px) and (max-width: 1024px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .page {
    max-width: 320px;
  }
} */
