.places {
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 24px 0;
}
@media screen and (max-width: 1024px) {
  .places {
    padding: 88px 24px 0;
  }
}
@media screen and (max-width: 544px) {
  .places {
    padding: 62px 0 0;
    max-width: 320px;
  }
}
