.places {
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 24px 0;
}
@media screen and (max-width: 1024px) {
  .places {
    padding: 88px 24px 0;
  }
}
@media screen and (max-width: 544px) {
  .places {
    padding: 62px 0 0;
    max-width: 320px;
  }
}

.place {
  display: grid;
  grid-template-columns: minmax(300px, 460px) 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 48px 40px;
  margin-bottom: 80px;
  align-items: start;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 48px 28px;
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 30px;
  }
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  font-family: "Inter";
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
    line-height: 1.09;
  }
}
@media screen and (max-width: 544px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px 0 16px;
  }
}

.place__website {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
}
@media screen and (max-width: 544px) {
  .place__website {
    grid-column: 1;
    grid-row: 2;
    font-size: 16px;
    line-height: 1.63;
    align-self: start;
    margin: 0 16px 0 16px;
  }
}
.place__detail {
  margin: 0;
  align-self: stretch;
}
.place__artist-title {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #aaaaaa;
}
.place__artist-name {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: #ffffff;
  margin: 0;
}

.place__image {
  transition: filter 0.3s ease;
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: 10px 10px 25px 0px #00000080;
  align-self: start;
}
.place__image:hover {
  filter: brightness(0.7);
}
@media screen and (max-width: 544px) {
  .place__image {
    grid-column: 1;
    grid-row: 3;

    align-self: start;
  }
}
.place__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-column: 2;
  grid-row: 2;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  color: #ffffff;
  align-self: start;
}
@media screen and (max-width: 1024px) {
  .place__description {
    grid-column: 2;
    grid-row: 2 / 5;
    font-size: 16px;
    line-height: 1.63;
    align-self: start;
  }
}
@media screen and (max-width: 544px) {
  .place__description {
    grid-column: 1;
    grid-row: 4;
    font-size: 16px;
    line-height: 1.63;
    align-self: start;
    margin: 0 16px 0 16px;
  }
}
.place__button {
  background-image: linear-gradient(to right, #0278fe, #003a7b);
  grid-column: 1;
  grid-row: 3;
  align-self: start;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  max-width: 289px;
  padding: 16px 8px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 5px 10px 0px #00000040;
}
.place__button:hover {
  background-image: linear-gradient(to right, #003a7b, #003a7b);
}
@media screen and (max-width: 544px) {
  .place__button {
    grid-column: 1;
    grid-row: 5;
    align-self: start;
    margin: 0 16px 0 16px;
  }
}
