.principal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 984px;
  width: 100%;
  margin: 0 auto 92px;
  padding: 0;
  text-align: center;
}
.principal__title {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  color: #ffffff;
  margin: 0 auto 32px auto;
  max-width: 720px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .principal__title {
    font-size: 75px;
    line-height: 1.05;
  }
}

@media screen and (max-width: 544px) {
  .principal__title {
    font-size: 40px;
    line-height: 1.1;
  }
}

.principal__subtitle {
  margin: 0 auto 64px auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  max-width: 720px;
  width: 100%;
}

@media screen and (max-width: 544px) {
  .principal__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}

.principal__container-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.principal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
